html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 !important;
    padding: 0 !important;
    font-family: -apple-system, "Helvetica Neue", "Times New Roman", serif;
    font-size: 16px;
}

.container {
    padding: 2rem;
    background-color: #FAFAFA;
    border-radius: 0.5rem;
}

h1,
h2 {
    display: block;
    text-align: center;
}

h1 {
    border: 0 !important;
    font-size: 36px !important;
    padding-bottom: 0.1rem;
    color: #E74C3C;
}

h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4) !important;
    padding-bottom: 1.75rem;
    margin-bottom: 2rem;
    font-size: 28px !important;
    color: #3498DB;
}

h3 {
    font-size: 21px !important;
}

h4 {
    font-size: 19px !important;
}

h5 {
    font-size: 17px !important;
    font-weight: 500;
}

iframe {
    width: 100%;
}

pre {
    position: relative;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    display: block;
    white-space: pre-wrap;
    font-size: 14px;
}

.copy-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    background: #8A8A8A;
    color: white;
    border: none;
    border-radius: 3px;
}

.copy-btn:hover {
    background: #6A6A6A;
}

img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img[alt=xxl] {
    width: 100%;
}

img[alt=xl] {
    width: 80%;
}

img[alt=l] {
    width: 65%;
}

img[alt=m] {
    width: 50%;
}

img[alt=s] {
    width: 40%;
}

img[alt=xs] {
    width: 30%;
}

.navbar {
    position: absolute;
}

/* Extra Small (XS) - Full Width */
@media (max-width: 575px) {
    body {
        margin: 1rem 0 !important;
    }

    .container {
        padding: 1rem;
        margin: 0 0.5rem;
    }
}

/* Small (SM) - 540px */
@media (min-width: 576px) {
    .container {
        width: 100vw;
    }
}

/* Medium (MD) - 720px */
@media (min-width: 768px) {
    .container {
        width: 75vw;
    }
}

/* Large (LG) - 960px */
@media (min-width: 992px) {
    .container {
        width: 65vw;
    }
}

/* Extra Large (XL) - 1140px */
@media (min-width: 1200px) {
    .container {
        width: 60vw;
    }
}

/* XXL (2XL) - 1320px */
@media (min-width: 1400px) {
    .container {
        width: 55vw;
    }
}